<form action="/" method="post">
    <input required type="text" name="email" class="form-control form-control-lg mb-3 col" placeholder="Email">
    <input required type="text" name="password" class="form-control form-control-lg mb-3 col" placeholder="Password">
    <button type="submit" class="btn btn-outline-primary btn-lg">Sign In</button>
</form>